body {
    background-image: url("../images/Background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 3.5em;
    margin-bottom: 50px;
    font-weight: bold;
}
/*.container {*/
/*    text-align: center;*/
/*    padding: 20px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
/*    width: 300px;*/
/*}*/